#container {
	max-width: 1120px;
	margin: 0 auto;

	header {
		padding: 24px 88px;
		border-bottom: 1px solid #e2e2e2;
    display: flex;
    align-items: center;
    justify-content: space-between;

		div {
			display: flex;
			align-items: center;
			justify-content: space-between;
      width: 82%;
      border-right: 1px solid #fff;
      padding-right: 24px;

			h1 {
				font-size: 40px;
			}

			span {
				font-size: 15px;
			}
		}

    a {
      width: 18%;
      margin-left: 24px;
      text-decoration: none;

      button {
        width: 100%;
        height: 35px;
        border: 0;
        border-radius: 9999px;
        background: #007ecc;
        color: #fff;
        font-weight: 500;
        transition: filter 0.2s;

        display: flex;
        align-items: center;
        justify-content: center;
      }

      button:hover {
        filter: brightness(0.85);
      }
    }
	}

	.cadastro {
		margin: 24px;
		background: #dedede;
		border-radius: 12px;
		color: #212121;
		box-shadow: 5px 5px 26px 5px rgba(0, 0, 0, 0.15);

		form {
			padding: 24px;

			h2 {
				display: flex;
				flex-direction: column;
				align-items: center;
				font-size: 28px;
			}

			div {
				display: flex;
				flex-direction: column;
				margin: 24px;

				label {
					font-size: 14px;
					margin-bottom: 7px;
					padding: 0 15px;
				}

				input {
					font-size: 16px;
					background: #fff;
					border: 0;
					border-radius: 9999px;
					height: 35px;
					padding: 0 15px;
				}
			}

			.button {
				display: flex;
				flex-direction: column;

				button {
					height: 35px;
					border: 0;
					border-radius: 9999px;
					background: #21ab47;
					color: #fff;
					font-weight: 500;
					transition: filter 0.2s;

					display: flex;
					align-items: center;
					justify-content: center;

					img {
						height: 20px;
						filter: invert(1);
						margin-right: 10px;
					}
				}

				button:hover {
					filter: brightness(0.85);
				}
			}

			.success {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				font-size: 15px;
			}
		}
	}

	.dados {
		margin: 24px;
		background: #dedede;
		border-radius: 12px;
		color: #212121;
		box-shadow: 5px 5px 26px 5px rgba(0, 0, 0, 0.15);
		padding: 24px;

		h2 {
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: 28px;
		}

    .totalEventos {
      display: flex;
			align-items: center;
      justify-content: center;
      margin-top: 24px;
    }

		main {
			display: flex;
			border-bottom: 1px solid #212121;

			&:last-child {
				border: 0;
			}

			.leftData {
				width: 75%;
				padding: 24px;

				div {
					display: flex;
					align-items: center;
					margin-bottom: 20px;
					margin-left: 24px;

					label {
						font-size: 14px;
						width: 200px;
					}

					span {
						font-size: 16px;
						border: 0;
						border-radius: 9999px;
					}
				}

				div:last-child {
					margin-bottom: 0;
				}
			}
			.rightButtons {
				width: 25%;
				padding: 24px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;

				button {
					height: 35px;
					width: 130px;
					border: 0;
					border-radius: 9999px;
					color: #fff;
					font-weight: 500;
					transition: filter 0.2s;

					display: flex;
					align-items: center;
					justify-content: center;

					img {
						height: 20px;
						filter: invert(1);
						margin-right: 5px;
					}
				}

				button:hover {
					filter: brightness(0.85);
				}

				.remove {
					background: #e30000;
				}

				.like {
					background: #007ecc;
				}

				.dislike {
					background: #007ecc;
				}
			}
		}
	}
}
